---
import Layout from "@/layouts/Layout.astro";
import { Greeting } from "@/components/main/Greeting";
import MainMadeForYou from "@/components/main/MainMadeForYou.astro";
---
<Layout title="Spotify Clone">
  <div class="flex flex-col gap-6">
    <Greeting client:load />
    <MainMadeForYou />
  </div>
</Layout>
