---
import SideMenuItem from '@/components/SideMenuItem.astro'
import SideMenuCard from "@/components/SideMenuCard.astro"
import IconHome from "@/icons/Home.astro"
import IconSearch from "@/icons/Search.astro"
import IconLibrary from "@/icons/Library.astro"
import Plus from '@/icons/Plus.astro'
import ArrowRight from '@/icons/ArrowRight.astro'
import SideMenuButton from '@/components/SideMenuButton.astro'

import { playlists } from "@/lib/data"
---
<nav class="flex flex-col gap-2 h-full">
  <div class="bg-black rounded-lg px-3 py-2">
    <ul class="flex flex-col">
      <SideMenuItem href="/">
        <IconHome />
        Inicio
      </SideMenuItem>
      <SideMenuItem href="/search">
        <IconSearch />
        Buscar
      </SideMenuItem>
    </ul>
  </div>

  <div class="bg-black rounded-lg flex flex-col flex-1 select-none ">
    <div class="flex flex-col gap-2 px-3 py-2 shadow-side pb-3">
      <header class="flex justify-between items-center">
        <ul>
          <SideMenuItem href="/library">
            <IconLibrary />
            Tu biblioteca
          </SideMenuItem>
        </ul>
        <div class="flex gap-2">
          <button class="rounded-full h-8 w-8 hover:bg-black-500 flex justify-center items-center hover:text-white transition-colors duration-300">
            <Plus />
          </button>
          <button class="rounded-full h-8 w-8 hover:bg-black-500 flex justify-center items-center hover:text-white transition-colors duration-300">
            <ArrowRight />
          </button>
        </div>
      </header>
      <div class="text-text font-medium flex gap-2">
        <SideMenuButton>
          playlist
        </SideMenuButton>
        <SideMenuButton>
          Artistas
        </SideMenuButton>
        <SideMenuButton>
          Álbumes
        </SideMenuButton>
      </div>
    </div>
    <div class="flex flex-col overscroll-y-contain h-full">
      <div class="flex flex-col overflow-y-auto relative h-full">
        <div class="h-auto absolute top-0 bottom-0 left-0 right-0 overflow-hidden hover:overflow-y-scroll resize-none">
          <div class="p-3">
          {
            playlists.map((song) => 
            <SideMenuCard playlist={song}/>
            )
          }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
