---
import { ViewTransitions } from "astro:transitions";
import AsideMenu from "../components/aside/AsideMenu.astro";
import {MainHeader} from "@/components/main/MainHeader.jsx";

const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <ViewTransitions fallback="none"/>
  </head>
  <body>
    <div id="app" class="relative h-screen min-h-full p-2 gap-2 ">
      <aside class="[grid-area:aside] flex flex-col relative">
        <AsideMenu/>
      </aside>
      <main id="playlist-container" class="[grid-area:main] rounded-lg bg-black overflow-y-auto">
        <div class="relative z-10 h-full">
          <MainHeader client:visible />
          <div>
            <slot/>
          </div>
        </div>
      </main>
      <footer class="[grid-area:player]">
        player
      </footer>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "CircularStd", system-ui, sans-serif;
    background: #010101;
    color: white;
  }
  #app {
    display: grid;
    grid-template-areas: "aside main main"
    "player player player";
    grid-template-columns: 314px 1fr;
    grid-template-rows: 1fr auto;    
  }

  ::-webkit-scrollbar-thumb{
    background: #2d2d2d8a;
    border-radius: 10px;
  }
  ::-webkit-scrollbar{
    width: 10px;
    background: transparent;
  }

</style>
